<!DOCTYPE html>
<html lang="en" ng-app="TfsDashboardApp">
<head>
    <title>TfsDashboard</title>

    <link rel="stylesheet" href="Content/metro-ui/css/metro-bootstrap.css">
    <link rel="stylesheet" href="Content/metro-ui/css/metro-bootstrap-responsive.min.css">
    <link rel="stylesheet" href="Content/metro-ui/css/iconFont.min.css">
    <link href="Content/style.css" rel="stylesheet" />

    <script src="Scripts/jquery-2.1.1.min.js"></script>
    <script src="Scripts/metro-ui/jquery.ui.widget.js"></script>
    <script src="Scripts/metro-ui/metro.min.js"></script>
    <script src="Content/angular.min.js"></script>
    <script src="Content/app.js"></script>
</head>
<body class="metro">
    <div id="loader" style="position:absolute;left:0;right:0;top:0;bottom:0;background-color:black">
        <img style="position:absolute;left:50%; top:50%;margin-left:-64px;" src="Content/36.gif" />
    </div>

    <div id="wrapper" class="container" ng-controller="GreetingController" style="display: none">
        <div class="grid fluid">
            <div class="row">
                <div class="span12">
                    <div ng-repeat="summary in Data" style="float:left; ">
                        <a href="#" class="button" style="margin-right:10px;" ng-class="summary.bgClass">
                            <h5 ng-click="selectSummary($index)">
                                {{summary.Name}} ({{summary.CheckinsToday}})
                                <img src="Content/ajax-loader.gif" ng-hide="summary.LastBuild.Status != 'InProgress'" />
                            </h5>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span12">
                    <div class="notice marker-on-top fg-black text-center" ng-class="SelectedTfs.bgClass">
                        {{SelectedTfs.Name}}
                        <h2>
                            <strong>{{SelectedTfs.StatusText}} ({{SelectedTfs.LastBuild.Username}})</strong>

                        </h2>
                        <img style="position:absolute; right:50px; top:50%; margin-top:-15px; height:30px;" src="Content/ajax-loader.gif" ng-hide="SelectedTfs.LastBuild.Status != 'InProgress'" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span12">
                    <div class="image-container shadow" style="width:92px;float:left;">
                        <img ng-src="Tfs?username={{SelectedTfs.LastBuild.Who}}">
                    </div>
                    <div class="notice" style="width:300px; float:left; margin: 0 10px; padding-top:15px; height:92px;">
                        <div class="fg-white">
                            <strong>{{SelectedTfs.LastBuild.Username}}</strong><br />
                            {{SelectedTfs.StatusText}}<br />
                            Changeset: {{SelectedTfs.LastBuild.SourceGetVersion}}
                        </div>
                    </div>

                    <button class="shortcut fg-white" ng-class="(SelectedTfs.LastBuild.TestCoverage.Statistics[0].PassedTests == SelectedTfs.LastBuild.TestCoverage.Statistics[0].TotalTests) ? 'bg-lightGreen' : 'bg-lightRed'" style="float:left; margin-right:10px;">
                        <i ng-class="(SelectedTfs.LastBuild.TestCoverage.Statistics[0].PassedTests == SelectedTfs.LastBuild.TestCoverage.Statistics[0].TotalTests) ? 'icon-checkmark' : 'icon-blocked'"></i>
                        {{SelectedTfs.LastBuild.TestCoverage.Statistics[0].TotalTests}}<br />Tests
                        <small class="bg-black fg-white">
                            {{SelectedTfs.LastBuild.TestCoverage.Statistics[0].PassedTests / SelectedTfs.LastBuild.TestCoverage.Statistics[0].TotalTests * 100 | number:0}} %
                        </small>
                    </button>

                    <button class="shortcut bg-orange fg-white" style="float:left; margin-right:10px;">
                        <i class="icon-bookmark"></i>
                        {{SelectedTfs.CheckinsToday}}<br />Checkins
                    </button>
                    <button class="shortcut bg-steel fg-white" style="float:left; margin-right:10px;">
                        <i class="icon-warning"></i>
                        {{SelectedTfs.LastWarningCount}}<br />Warnings
                    </button>

                </div>
            </div>
            <div class="row">

                <div class="span12">
                    <div class="notice marker-on-right" style="width:130px; -moz-min-width:0; -ms-min-width:0; -o-min-width:0; -webkit-min-width:0; min-width:0; float:left; margin-right:10px; padding-top:25px; height:92px;">
                        <div class="fg-white">
                            <strong>Buildserver ({{SelectedTfs.maxDuration}} Sec.)</strong>
                        </div>
                    </div>
                    <div class="chart" ng-repeat="build in SelectedTfs.LastBuilds">
                        <div class="progress-bar" ng-class="build.bgClass">
                            <div class="bar" style="height: 70%; width:10px; background:#eeeeee" ng-style="{ 'height': (1 - build.PercentageDurationLastBuilds) * 100 + '%'}"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span12">
                    <div class="notice marker-on-right bg-lightBlue" style="width:130px; -moz-min-width:0; -ms-min-width:0; -o-min-width:0; -webkit-min-width:0; min-width:0; float:left; margin-right:10px; padding-top:25px; height:92px;">
                        <div class="fg-white">
                            <strong>Checkins ({{SelectedTfs.maxCheckins}})</strong>
                        </div>
                    </div>
                    <div class="chart">
                        <div class="progress-bar bg-orange" ng-repeat="checkin in SelectedTfs.CheckinStatistic">
                            <div class="bar" style="height: 70%; width:10px; background:#eeeeee" ng-style="{ 'height': (1 - checkin.PercentageCheckins) * 100 + '%'}"></div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="listview-outlook" data-role="listview" style="margin-top: 20px">
                <div class="list-group ">
                    <a href="" class="group-title">Changesets</a>
                    <div class="group-content" ng-repeat="checkin in SelectedTfs.LastCheckins">

                        <div class="list marked" href="#">
                            <div class="list-content">

                                <span class="list-icon" style="float:left">
                                    <img height="50" ng-src="Tfs?username={{checkin.Username}}">
                                </span>
                                <div style="float:left">
                                    <span class="list-title">{{checkin.Comment}}</span>
                                    <span class="list-subtitle">Vor {{checkin.TimeElapsed | timeago}}</span>
                                    <span class="list-remark">{{checkin.Committer}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>
